@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  height: 100vh;


}

img {
  height: auto;
  max-width: 100%;

}

html {
  scroll-behavior: smooth;
  font-size: 52%;
  font-family: 'Roboto', sans-serif;

}


li {
  list-style: none;
}


a {

  text-decoration: none;


}

/***********HEADER**********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding-left: 1rem;
  padding-right: 1rem;
  background: linear-gradient(to right, black, darkgray);
  color: #fff;
}

header p {
  font-size: 2.1rem;
}

/**************HEADER************/

/********* LES SECTION **********/

section {
  margin-top: 3rem;
  padding: 1.2rem;
}

section h2 {
  font-size: 4rem;
}

section h2::after {
  background-color: #cac1c1;
  content: " ";
  display: block;
  margin: 5px auto 10px;
  height: 4px;
  width: 80px;
}

section h3 {
  font-size: 3rem;
}

section p {
  padding: 0.8rem 0;
  font-size: 2rem;
  text-align: justify;
}

section img {
  border-radius: 8px;

}

/***************LES Sections*********************/

/*************Figure et figcaption************/
figure {
  margin-top: 2rem;
  border: thin #c0c0c0 solid;
  padding: 5px;

}

figcaption {
  text-align: center;
  font-size: 2rem;
}

/************Figure et figcaption***********/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin-top: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  background: linear-gradient(to right, black, darkgray);
  color: #fff;
}

footer p {
  font-size: 2.1rem;
}

/**********Scrolling Haut***********/
#scroll {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 30px;
  color: rgba(255, 255, 255, 0.9);
}

#scroll i {
  font-size: 50px;
  width: 50px;
  color: rgb(230, 49, 43);
  opacity: 0.7;
  ;
}

/******************Scrolling Haut*************/

/*****************Navigation***************/
.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #FFF;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;


}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #FFF;
}

.nav-link:hover {
  color: rgb(230, 49, 43);
}

/********************Navigation********************/

/*******************Slider*********************/
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: url('../img/mont-ventoux-velo.jpg') no-repeat center/cover;
  color: #000;

}

.slider div {
  text-align: center;

}

.slider h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #FFF;
}

.slider p {
  font-size: 3rem;
  font-weight: inherit;
  margin-bottom: 40px;
  color: #FFF;
}

/********************************Slider**************************/

/******************************Animation du velo*********************/
.bike {
  position: relative;
  margin-bottom: 50px;
  width: 250px;
  height: 200px;
  margin-left: 50px;
  animation: .5s linear infinite alternate bikemovement;
}

@keyframes bikemovement {
  from {
    margin-top: 5%;
  }

  to {
    margin-top: 3%;
  }
}

.wheel {
  border: solid 2px #000;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s linear infinite wheelmovement;
}

.wheel__left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.wheel__right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.spoke {
  width: 50px;
  height: 2px;
  position: absolute;
  background: #000;
}

.spoke__left--1 {
  transform: rotate(60deg);
  top: 26px;
  left: 12px;
}

.spoke__left--2 {
  transform: rotate(60deg);
  top: 72px;
  left: 38px;
}

.spoke__right--1 {
  transform: rotate(60deg);
  top: 26px;
  left: 12px;
}

.spoke__right--2 {
  transform: rotate(60deg);
  top: 72px;
  left: 38px;
}

.hub {
  background: #000;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

@keyframes wheelmovement {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fork {
  position: absolute;
  top: 50px;
  right: 68px;
  background: #000;
  height: 100px;
  width: 3px;
  transform: rotateZ(340deg);
}

.chainring {
  position: absolute;
  bottom: 20px;
  left: 85px;
  height: 40px;
  width: 40px;
  border: solid 3px #000;
  border-radius: 50%;
}

.down-tube {
  position: absolute;
  bottom: 30px;
  right: 108px;
  background: #000;
  height: 103px;
  width: 4px;
  transform: rotateZ(40deg);
}

.top-tube {
  position: absolute;
  top: 78px;
  left: 77px;
  background: #000;
  height: 4px;
  width: 95px;
}

.seat-tube {
  position: absolute;
  top: 52px;
  left: 87px;
  background: #000;
  width: 4px;
  height: 110px;
  transform: rotateZ(160deg);
}

.seat-stay {
  position: absolute;
  top: 75px;
  left: 64px;
  background: #000;
  width: 3px;
  height: 75px;
  transform: rotateZ(200deg);
}

.chain-stay {
  position: absolute;
  bottom: 18px;
  left: 78px;
  background: #000;
  width: 3px;
  height: 60px;
  transform: rotateZ(100deg);
}

.chain__upper {
  position: absolute;
  bottom: 29px;
  left: 78px;
  background: #000;
  width: 2px;
  height: 60px;
  transform: rotateZ(80deg);
}

.chain__bottom {
  position: absolute;
  bottom: 6px;
  left: 78px;
  background: #000;
  width: 2px;
  height: 60px;
  transform: rotateZ(120deg);
}

.saddle {
  position: absolute;
  top: 50px;
  left: 55px;
  background: #000;
  width: 40px;
  height: 10px;
  border-radius: 60% 100% 800% 100%;
}

.handlebars {
  position: absolute;
  top: 52px;
  right: 54px;
  border: solid 3px #000;
  border-left: transparent;
  width: 30px;
  height: 25px;
  border-radius: 60% 1000% 500% 300%;
}

.shadow {
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(210, 210, 210, 0.363)
}

/*****************************************Animation Velo******************************/

/*****************H2 et H3 pour les section*******************************/
.section h2,
h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*****************************Section About******************************/
.about h2,
h3 {
  text-align: center;

}

/*****************************Section About*******************************/

/*****************************Section compétence**************************/
.competence-container {
  text-align: center;

}

.competence-container img {
  width: 200px;
  border-radius: 50%;
  display: inline-block;

}

.competence-container p {
  padding: 0.8rem 5.2rem;
  text-align: center;
}

/**********************************Section compétence********************************/

/************************Section experience******************************/
.photo_experience {

  display: flex;
  align-items: start;
  height: 400px;
  background: url('../img/ventoux/malaucene.jpg') no-repeat center/cover;
}

.photo_experience h3 {

  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: rgb(217, 31, 31);
}

/***************************Section expérience*********************************/

/***********************Section portfolio*******************************/
.portfolio {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
}

.portfolio a img {
  margin: 5px;
  padding: 10px;
  color: #fff;
  background: #fff;
  border: 1px solid #ddd;
}

/**************************section portfolio*************************************/

/****************************Section temoignage**********************************/
.testimonial-container {
  text-align: center;

}

.testimonial {
  box-shadow: 10px 5px 5px rgb(131, 127, 127);
  color: #9e9e9e;
  display: inline-block;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid rgb(230, 49, 43);
  border-bottom: 5px solid rgb(230, 49, 43);
}

.testimonial figcaption {
  padding: 3% 3%;
}

.testimonial blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 2%;
  padding-left: 2%;
  padding-right: 2%;

}

.testimonial blockquote p {
  text-align: center;
}

.testimonial i {

  font-size: 50px;
  color: rgb(230, 49, 43);
}

.testimonial img {
  width: 50%;
  border-radius: 50%;

}

.testimonial h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.testimonial h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

/**************************************Section temoignage******************************/

/*************************************Section contact*******************************/
.contact {
  box-shadow: 10px 5px 5px rgb(131, 127, 127);
  width: 85%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-in {
  padding: 40px 30px;

}

.contact-in:nth-child(1) {
  width: 100%;
  background: url(../img/03.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  color: rgb(255, 255, 255);

}

.contact-in:nth-child(2) {
  width: 100%;
  background: linear-gradient(to right, black, darkgray);

}

.contact-in:nth-child(3) {
  width: 100%;
  padding: 0;
}

.contact-in h2 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-in h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: left;
}

.contact-in h2::after {
  background-color: transparent;
  content: "";
  display: block;
  margin: 5px auto 10px;
  height: 4px;
  width: 80px;
}

.contact-in h3 i {
  font-size: 25px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #f5f5f5;
  color: rgb(230, 49, 43);
  border-radius: 50px;
  line-height: 40px;
  text-align: center;

}

.contact-in p {
  width: 60%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 20px;
  color: rgb(255, 255, 255);

  text-align: left;
}


.contact-in ul {
  padding-top: 70px;
  margin: 0;
  text-align: center;
}

.contact-in ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;

}

.contact-in ul li a {
  display: block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 50px;

}

.contact-in ul li a i {
  font-size: 25px;
  line-height: 30px;
  color: rgb(230, 49, 43);

}

.contact-in form {
  width: 100%;
  height: auto;

}

.contact-in-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 300;

}

.contact-in-input::placeholder {

  color: #fff;

}

.contact-in-textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-right: 5px;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 400;

}

.contact-in-textarea::placeholder {
  color: #fff;
}

.contact-in-btn {
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.contact-in iframe {
  width: 100%;
  height: 100%;
}

/****************************Section Contact**************************/

/*************************Media Queries nav-bar et burger Menu**********************************/
@media only screen and (max-width: 768px) {

  .nav-menu {
    opacity: 85%;
    position: fixed;
    left: -100%;
    top: 75px;
    width: 26%;
    height: 65vh;
    flex-direction: column;
    background: linear-gradient(to right, black, darkgray);
    text-align: center;
    transition: 0.3s;

  }

  .nav-menu.active {
    left: 0;
    position: absolute;
  }

  .nav-item {
    margin: 2.5rem 0;

  }

  .hamburger {
    display: block;
    cursor: pointer;

  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;

  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);

  }

  /************************Media Queries Nav-bar et Burger-menu*************************************/
}

/************************Media Queries Tablette********************************************/

@media screen and (min-width: 768px) {

  /**********************Section About*****************************************/
  .about-container {

    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .about-container div {
    width: 50%;

  }

  .about-container div:first-child {
    padding: 1rem;

  }

  /******************************Section About****************************************/

  /***************************Section Competence*************************************/
  .competence-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .competence-container div {
    width: 50%;

  }

  .comptence-container p {
    padding: 0.8rem 3.2rem;
  }

  /***********************************Section Competence***********************************/

  /**********************************Section experience*********************************/
  .experience-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .experience-container div {
    width: 50%;

  }

  .experience-container div:first-child {
    padding: 1rem;

  }

  .photo_experience h3 {
    font-size: 4.5rem;
  }

  /***********************************Section experience******************************************/

  /************************************Section temoignage**************************************/
  .testimonial-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .testimonial {
    width: 50%;

  }

  .testimonial-container p {
    padding: 0.8rem 3.2rem;
  }

  /**************************************Section temoignage*****************************************/

  /************************************Section contact**********************************************/
  .contact {

    flex-wrap: wrap;
  }

  .contact-in:nth-child(1) {
    width: 50%;

  }

  .contact-in:nth-child(2) {
    width: 50%;

  }

  .contact-in:nth-child(3) {
    width: 100%;

  }

  /*******************************Section contact************************************************/
}


/**************************************Media Queries Desktop**************************************/

@media screen and (min-width: 992px) {



  .slider h1 {
    font-size: 5rem;
  }

  .slider p {
    font-size: 3rem;
  }

  /********************Section About***************************************/
  .about-container {

    display: flex;
    align-items: flex-start;
    justify-content: space-around;

  }


  .about-container div {
    width: 50%;
  }

  /*****************************Section About****************************/

  /***************************Section Competence**************************/
  .competence-container div {
    width: 25%;

  }

  .competence-container p {
    padding: 0.8rem 2rem;
  }

  /****************************Section Competence*************************/
  .experience-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  .experience-container div {
    width: 50%;
  }

  .experience-container div:first-child {
    padding: 1rem;

  }

  /******************************Section experience***************************/

  /****************************Section temoignage*************************/
  .testimonial {
    width: 25%;

  }

  .testimonial-container p {
    padding: 0.8rem 2rem;
  }

  /****************************Section temoignage***********************************/

  /**************************Section contact******************************************/
  .contact-in:nth-child(1) {

    width: 40%;

  }

  .contact-in:nth-child(2) {

    width: 40%;

  }

  .contact-in:nth-child(3) {

    width: 20%;

  }

  /*********************Section Contact*******************************************/
}